@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the HomeRent Website.  </h1>
    <p class="lead">you can here rent a Appartment and you can see and choose a Appartment. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div style="margin-top: 0px; display: grid; grid-template-columns: 1fr 1fr 1fr">
        <div style="text-align:center;padding:10px">
            <h1 style="font-size:24px;">Wellesley Court Apartments</h1>
            <img src="~/Image/3.jpg" alt="app" width="100%" />
        </div>


        <div style="text-align:center;padding:10px">
            <h1 style="font-size:24px;">Studio Appartment</h1>
            <img src="~/Image/2.jpg" alt="app" width="100%" />
        </div>
        <div style="text-align:center;padding:10px">
            <h1 style="font-size:24px;">Lake view Appartment</h1>
            <img src="~/Image/2.jpg" alt="app" width="100%" />
        </div>

    </div>


    <div style="margin-top: 40px; display: grid; grid-template-columns: 1fr 1fr 1fr">
        <div style="text-align:center;">
            <img width="100%" style="margin:auto 10px;padding:10px" src="~/Image/3.jpg" alt="image" />
           <h1></h1>
        </div>

        <div style="text-align:center;">
            
            <h1>Enjoy CAA Member Exclusive Benefits</h1>
            <p style="margin-top:20px;padding:10px">
                These kinds of apartments typically consist of one large room which serves as the living, dining, and bedroom or may have a very small room for a bedroom. Kitchen facilities may either be located in the central room, 
                or in a small separate room, and the bathroom is usually in its own smaller room.
            </p>
        </div>

        <div style="text-align:center;">
           
            <h1>Drivepro Business Rentals</h1>
            <p style="margin-top:20px;">

                The studio apartment is an apartment with a single room. They are also known as single-room
                dwelling places or studio flats. There are several types available; the straight studio is
                very basic, while the alcove studio has a wing. The wing or nook is off the main area,
                which can be utilized for dining or sleeping. A studio apartment differs from a single
                room occupancy (SRO) unit in that an SRO does not usually contain a kitchen or bathroom.
            </p>
        </div>
    </div>

   
</div>