<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Hi_Tech_Order_Management_System.Properties.Settings.HitechDBConnectionString" connectionString="Data Source=DESKTOP-NOC7ELQ;Initial Catalog=HitechDB;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="HitechDBEntities" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NOC7ELQ;initial catalog=HitechDB;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechDBEntities1" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NOC7ELQ;initial catalog=HitechDB;persist security info=True;user id=sa;password=qwerty;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechDBEntities2" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NOC7ELQ;initial catalog=HitechDB;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechDBEntities3" connectionString="metadata=&quot;res://*/Data Model.Hitech_DataModel.csdl|res://*/Data Model.Hitech_DataModel.ssdl|res://*/Data Model.Hitech_DataModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NOC7ELQ;initial catalog=HitechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechDBEntities4" connectionString="metadata=&quot;res://*/Data Model.OrderEntity.csdl|res://*/Data Model.OrderEntity.ssdl|res://*/Data Model.OrderEntity.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NOC7ELQ;initial catalog=HitechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechDBEntities5" connectionString="metadata=&quot;res://*/Data Model.OrderDataModel.csdl|res://*/Data Model.OrderDataModel.ssdl|res://*/Data Model.OrderDataModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NOC7ELQ;initial catalog=HitechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
